html,
button,
input,
select,
textarea,
span,
div {
	font-family: 'Open Sans', sans-serif;
  color: #101010;
}

a {
	color: #fff;
}

a:hover {
	color: #D821D6;
}

img[src*="iws3.png"] {
    display: none;
}

.navbar-inner {
  background: #101010;
}
#login-buttons{ 
  margin-top:10px;
}
#welcome img {
  clear: both;
  width: 350px;
  padding: 30px 0px 0px;
  margin: 0 auto;
  display: block;
}

#welcome p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  padding-bottom: 60px;
}

#map { 
  position:absolute;
  top:270px;
  bottom:0px;
  left:0px;
  right:0px;

}
#map img {
  max-width: none;
}

.arrow-up {
  width: 0; 
  height: 0;
  left: 8px;
  top: 74px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 20px solid red;
  //z-index: -999;
}

.user-icon{ 
  z-index:1000;
}

.user-icon img.active{ 
  border: solid 6px #00ff00;
}

.user-icon img.away{ 
  border: solid 6px #ff0000;
}
.user-icon img.unknown{ 
  border: solid 6px #999;
}

#routes{ 
  position:absolute;
  right:10px;
  width:300px;
  top:98px;
  bottom:0px;
  z-index:1001;
  display:none;
}
.accounts-dialog{ 
  z-index:1002;
}
#routes div.route{ 
  min-height:150px;
  width:280px;
  padding:0px;
  background: rgba(255, 255, 255, .95);
  margin-bottom:15px;
  text-align: center;
  position:relative;
}
#routes div#partystarts{ 
  text-align:center;
}
#routes div#partystarts span.time{
  font-weight: bold;
  font-size: 48px;
}
#routes div#partystarts p{
  margin-top: 0px;
}
#routes div#partystarts h3{
  margin-bottom: 29px;
} 

#routes div.route h3{ 
  font-family: 'Enriqueta', 'Open Sans', sans-serif;
  background:#D43AD0;
  color:#fff;
  margin:0px 0px 15px 0px;
  padding:5px;
  font-weight:bold;
  text-transform:uppercase;
  height: 41px;
}
#routes div.route span.time,
#routes div.route div.duration{
  font-size:42px;
  font-weight:bold;
} 

#routes div.route div.duration {
  margin-top: 30px;
}

#routes div.route p {
  text-transform: uppercase;
  margin-bottom: 0px;
}

#routes div.route div.transportmode {
  padding-bottom: 20px;
  font-style: italic;
}

#routes img.avatar{ 
  position:absolute;
  left:10px;
  top:10px;
  width: 55px;
}

.destination {
margin-top: 11px;
}

.destination a {
  color: #D43AD0;
  text-decoration: underline;
}

.destination a:hover {
  color: #FFC145;
}

/* overrides Safari from making the the text field and button round */
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
}

#addressentry {
  padding: 0px 0px 0.83em;
}
#address { 
  width:75%;
	padding: 15px 0px 15px 10px;
	border: 2px solid #cecece;
  border-radius: 0px;
}

input[type="text"]#address {
  font-size: 26px;
  margin-bottom: .54em;
}

#submitaddress { 
  width:80px;
  height:54px;
  padding:4px;
  margin-left:5px;
  background: #d43ad0;
  color:#fff;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  padding: 0px;
}

#submitaddress:hover {
	background: #FFC145;	
}

::-webkit-input-placeholder {
  font-style: italic;
  padding-top: 8px;
  padding-left: 5px;
}

:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
  padding-top: 8px;
  margin-left: 5px;
}

::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
  padding-top: 8px;
  margin-left: 5px;
}

:-ms-input-placeholder {  
  font-style: italic;
  padding-top: 8px;
  margin-left: 5px;
}

div.address{ 
  position:absolute;
  top:300px;
  left:20%;
  width:60%;
  background:#fff;
  margin:auto;
  z-index:1005;
  padding: 20px;
  text-align:center;
  height:200px;

}
div.address h2{
  font-family: 'Enriqueta', 'Open Sans', sans-serif;
  font-weight:bold;
  font-size:36px;
} 

